$color-black: #000;
$color-white: #fff;

$color-primary: #45eba5;
$color-secondary: #21aba5;
$color-tertiary: #1d566e;
$color-quaternary: #163a5f;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$default-font-size: 16px;
